h1{
    color: blue;
    text-align: center;
    font-family: "Roboto Condensed";
}
body{
    background-color: #77abd9
}

.top-nav{
    
    height: 60px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    background-color:#4b99de;
    margin-bottom: 30px;
    
    
}
.top-nav .contact{
    margin-right: 20px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto Condensed";
     
}

.top-nav .home{
    margin-right: 1630px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto Condensed";
     
}



.top-nav a:link{color:#e64957;}
.top-nav a:visited{color:green;}
.top-nav a:Hover{color:black;}
.top-nav a:active{color:pink;}

.top-nav img{
    height:50px;
    margin-top: 5px;
    margin-left:20px;
}

.column{
    padding: 5px;
    margin-left: 60px;
  
}


.column img{
    border-radius: 8px;
}

.title{
    color: #e64957;
    text-align:center;
    font-size: 25px;

}

.row {
    display: inline-flex;
    
}
.container{
    text-align: center;
}
p{
    font-family: "Raleway";
    text-align: center;
    
}
.button img{
    width: 50px;
    height: 50px;
    padding-left: 20px;
}
.detail{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    
   
}
.onepiece p{
    font-family: "Raleway";
    text-align: center;
    text-align: justify;
}
.row-onepiece{
    margin-left: 400px;
    margin-right: 400px;
    overflow: hidden;
}
/* /* .onepiece img{
    
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
  
} */
.row-onepiece h1{
    text-align: left;

}
.onepiece iframe{
    
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
  
}
.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
     
}
.footer img{
    border-radius: 8px;
    width: 350px;
    height: 200px;
}
.sidebar{
   
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
     height: 200px;
     margin-right: 280px;
     margin-top: 160px;
     
    
}
.sidebar img{
    width: 350px;
    height: 200px;
    margin-top: 20px;
    border-radius: 8px;
}
.sidebar iframe{
    width: 350px;
    height: 100%;
    margin-top: 130px;
    border-radius: 8px;
}
/* For Contact Us */
.row-contact{
    border: 1px solid darkblue;
    display: flex;
   
    margin-left: 400px;
    margin-right: 400px;
    overflow: hidden;
    border-radius: 8px;
}
.row-contact .map{
    margin: 25px 25px 25px 50px;
    
}
.map-box{
    display: flex;
    flex-direction: column;
    margin: 25px 50px 25px 25px;
    

    
}

.contact-name{
    
    background-color: lightgray;
    border-radius: 8px;
    width: 350px;
    height: 30px;
   }
   .contact-email{
    
    background-color: lightgray;
    border-radius: 8px;
    width: 350px;
    height: 30px;

   }
   .contact-message{
    
    background-color: lightgray;
    border-radius: 8px;
    width: 350px;
    height: 100px;
   }

   .map-box h3{
       font-size: 25px;
       font-family: "Roboto";
       margin-top: -5px;
       color: #e64957;
   }

  
       
   
   .button{
       margin-top: 20px;
       height:50px;
       border-radius: 8px;
       background-color: #4b99de;
       color:white;
       font-size: 15px;
     
   }

   .map-box{
       width: 100%;
       
   }

  .form input{
      border-radius: 8px;
      width: 90%;
      padding: 10px;
  }
  .form #message{
      height: 100px;

  }

  
   

