h1{
    color: blue;
    text-align: center;
}

.column{
    padding: 5px;
    margin-left: 60px;
}

.title{
    color: red;
    text-align:center;
    font-size: 25px;

}

.row {
    display: inline-flex;
    
}
.container{
    text-align: center;
}


