h1{
    color: blue;
    text-align: center;}
/* }
#task1{
    padding:5px;
} */

.column{
    float:left;
    padding: 5px;
    margin-left: 60px;
}

.title{
    color: red;
    text-align:center;
    font-size: 25px;

}

/* .row::after {
    content: "";
    clear: both;
    display: table;
  } */
/* p{
    text-align: center;
    color:red;
    font-size: 20px;
} */
